* {box-sizing: border-box}
 body {
  font-family: var(--font-family);
}


#wishlist-box {
    height: 11rem;
    width: 100%;
    border-radius: 0px;
    background-color: #665858;
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wishlist-text {
    font-style: normal;
    font-weight: 700;
    font-size: 2.496rem;
    line-height: 2.333rem;
    /* text-align: center; */
    letter-spacing: 0.02em;
    color: #ffffff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }

  .card_info-header {
    padding: 10px;
    width: 95%;
    height: 29px;
    margin: 0 auto;
    background-color: #B3B3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }

  .header-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
  }

  .card_info-body {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    min-height: 130px;
    width: 95%;
    margin: 0 auto;
    background-color: #E1E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.5px;  
    gap: 15px;
  }

  .info-body_right-side {
    width: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
    gap: 20px;
  }



  .card_info-body-quantity {
    /* min-width: 10%;
    max-width: 20%; */
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .add-quantity,
  .remove-quantity {

    max-width: 20px;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E22727;  
    border: none;
    color: white;
  }

  .card_info-body-quantity > input{
    /* min-width: 30px; */
    max-width: 50%;
  }

  .card_info-body-amount {
    /* max-width: 25%; */
  }

  .image-info_img {
    height: 80px;
    width: 55px;
  }


  .payment {
    width: 95%;
    margin: 5px auto 5px auto;
    padding: 20px;
    min-height: 130px;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    flex-wrap: wrap;

  }

  .payment-left {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .payment-right {
    width: 50%;
  }

  .pay-btn {
    /* display: block;
    margin: 0 auto; */
    background-color: #E22727;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    /* margin-top: 10px; */
  }

  .pay-btn > a {
    color: white;
  }

  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #635252;
    padding: 0px 25px 15px 25px;
    font-family: var(-font-family);
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;
    }
    
    .footerHead{
    display: flex;
    justify-content: space-around;
    }
    .footerBody{
      display: flex;
      flex-direction: column;  
    }
     .footerIcon{
      color:  #BABABA; 
      margin-right: 10px;
    } 


    @media(min-width: 600px) {
      .card_info-header ,
      .card_info-body
       {
        width: 100%;
      }
      .payment {
        width: 50%;
        margin-left: auto;
      }
    }