:root {
  --font-family: "Inter", sans-serif;
  --card-title-color: #f503b2;
  --card-title-font: 32px;
  --card-info-color: #000000;
  --card-info-fontSize: 20px;
  --card-sale-button-backgroundColor: #eb2525;
  --card-sale-button-color: #171c8f;
  --card-sale-button-fontSize: 36px;
  --card-detail-button-fontSize: 22px;
  --card-detail-button-fontWeight: 700;
  --card-detail-button-color: #000000;
  --login-button-backgroundColor: #ed3535;
  --login-button-fontSize: 16px;
  --login-button-fontWeight: 700;
  --search-field-backgroundColor: #d9d9d9;
  --find-button-backgroundColor: #403535;
}

* {
  box-sizing: border-box;
}

.slideImages {
  display: none;
}

.slideshowContainer {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* img {
  vertical-align: middle;
  width: 101.5%;
  opacity: 0.8;
} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.375rem;
  color: var(--search-field-backgroundColor);
  font-weight: var(--login-button-fontWeight);
  font-size: var(--card-info-fontSize);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: -0.375rem;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--card-detail-button-color);
}

.text {
  color: white;
  font-size: var(--card-info-fontSize);
  font-weight: var(--login-button-fontWeight);
  font-style: italic;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: 0.5rem;
  width: 21.5rem;
  text-align: center;
}

.items {
  cursor: pointer;
  height: 0.938rem;
  width: 0.938rem;
  margin: 0 0.125rem;
  background-color: var(--card-detail-button-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.items:hover {
  background-color: var(--search-field-backgroundColor);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



body {
  background-color: #edf3f4;
  margin: 0;
}




#wrapper{
  width: 80%;
  margin: 0 auto;
   padding-top: 50px; 


}

#title{
  font-family: var(--font-family);
  font-weight: lighter;
  line-height: 32px;
  font-style: normal;
   letter-spacing: 0.02em; 
  font-size: 20px;
  padding-top: 50px;
 
}

.offerBox {
  width: 90%;
  height: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#addToWishList{
  font-size: 16px;
  border-color: #000000;
  background: white;
  text-transform: uppercase;
  height: 40%;
  width: 40%;
  border-radius: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#addToCartBtn{
  font-size: 16px;
  border-color: #000000;
  background: white;
  text-transform: uppercase;
  height: 40%;
  width: 40%;
  border-radius: 180px;

  margin-bottom: 15px;
}

.bookDetails {
  text-align: center;
  align-items: center;

}

#containerDetails, .bookDetails {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 50px;
 
}


#coverImg,
#textDetails, .bookDetailsTable, .descriptionDetails {
  display: grid;
  justify-items: center;
  max-width: 100%;
}




#title, #bookDet, #descDetails, #titleMayLike {
  font-family: var(--font-family);
  font-weight: lighter;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 20px;
  padding-top: 50px;
  align-items: center;
}



.price {
  border-radius: 6px 6px 0 0;
  background: #edf3f4;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
 
}







table {
  border-collapse: collapse;
  width: 50%;
}

table th, table td {
  border: 1px solid black;
  padding: 8px;
}



.descriptionDetails {
  margin-top: 20px;
}

.desc{
  width: 90%;
  justify-content: center;
}

.containerBookLike {
  text-align: center;
  background-color: #2f2b35;
 
}

.containerBookLikeImg {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.item img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.item p {
  margin-top: 10px;
  color: white;
} 


/* Media query for desktop  */
@media (min-width: 768px) {
  #containerDetails {
    flex-direction: row;
  }

  #coverImg,
  #textDetails, .bookDetails, .bookDetailsTable, .descriptionDetails   {
    flex: 1;
  }

  #textDetails {
    padding-left: 20px;
  }

  .offerBox{
    width: 60%;
  }

  .containerBookLikeImg {
    justify-content: space-between;
  }

  .containerBookLikeImg {
    flex-direction: row;
  }

  .item {
    flex: 0 0 33.33%; 
  }

 

} 

#detailsButtonAndBuyButtonCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

#detailsButtonCart, #buyButtonCart {
  border-radius: 180px;
  
}

#buyButtonCart {
  margin-top: 20px;
}
.detailsButton,
.buyButton {
  border-radius: 180px 0px 0px 180px;
  border: 1px solid #000000;
  background: #ffffff;
  width: 167.75px;
  height: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.buyButton {
  border-radius: 0px 180px 180px 0px;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #635252;
  padding: 0px 25px 15px 25px;
  font-family: var(-font-family);
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
  }
  
  .footerHead{
  display: flex;
  justify-content: space-around;
  }
  .footerBody{
    display: flex;
    flex-direction: column;  
  }
   .footerIcon{
    color:  #BABABA; 
    margin-right: 10px;
  } 
  
  

