* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.slideImages {
  display: none;
}

.slideshowContainer {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.coverSlideImages {
  vertical-align: middle;
  width: 101.5%;
  opacity: 0.8;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.375rem;
  color: var(--search-field-backgroundColor);
  font-weight: var(--login-button-fontWeight);
  font-size: var(--card-info-fontSize);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: -0.375rem;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--card-detail-button-color);
}

.text {
  color: var(--homepage-text-messages-color);
  font-size: var(--card-info-fontSize);
  font-weight: var(--login-button-fontWeight);
  font-style: italic;
  position: absolute;
  bottom: 0.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
}

.items {
  cursor: pointer;
  height: 0.938rem;
  width: 0.938rem;
  margin: 0 0.125rem;
  background-color: var(--card-detail-button-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.items:hover {
  background-color: var(--search-field-backgroundColor);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.searchFields {
  flex: 0 0 80%;
  height: 50px;
  width: 370px;
  border-radius: 0.3125rem;
  font-size: var(--card-detail-button-fontSize);
  border: none;
  background-color: var(--search-field-backgroundColor);
  color: var(--card-detail-button-color);
}

#searchBtn {
  flex: 0 0 80%;
  height: 2.5rem;
  color: white;
  background-color: var(--find-button-backgroundColor);
  border-radius: 11.25rem;
  font-size: var(--card-detail-button-fontSize);
  border: none;
}

/* Styling book icons, new releases and popular books */
#booksIcons {
  display: flex;
  flex-direction: column;
}

.tonsOfBooks,
.hundredOfAuthors,
.easillyBookmarked {
  display: grid;
  justify-items: center;
}

.title,
.describeText,
.newReleasesTitleHomepage,
.titleForNewReleases,
.authorForNewReleases,
.priceForNewReleases,
.popularBooksTitleHomepage {
  font-weight: lighter;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 0.02em;
}

.describeText,
.authorForNewReleases {
  font-size: 15px;
  text-align: center;
  opacity: 0.7;
}

.title,
.titleForNewReleases {
  font-size: 20px;
}

.newReleasesTitleHomepage,
.priceForNewReleases,
.popularBooksTitleHomepage {
  text-align: center;
  font-style: italic;
  font-size: 32px;
}

@media only screen and (max-width: 600px) {
  #mainNewReleasesDiv,
  #mainPopularBooksDiv {
    display: grid;
    flex-direction: column;
    text-align: center;
  }
}

/* Details and buy buttons */

.detailsButton,
.buyButton {
  border-radius: 180px 0px 0px 180px;
  border: 1px solid #000000;
  background: #ffffff;
  width: 167.75px;
  height: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.buyButton {
  border-radius: 0px 180px 180px 0px;
}

/* Styling messages from the readers */
.messagesFromTheReaders {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slideMessage {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  padding: 20px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--homepage-text-messages-color);
  font-size: var(--login-button-fontSize);
  line-height: 1.5;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #635252;
  padding: 0px 25px 15px 25px;
  font-family: var(-font-family);
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
}

.footerHead {
  display: flex;
  justify-content: space-around;
}
.footerBody {
  display: flex;
  flex-direction: column;
}
.footerIcon {
  color: #bababa;
  margin-right: 10px;
}

/* Added media query for desktop displaying new releases and popular books */
@media screen and (min-width: 768px) {
  #mainNewReleasesDiv,
  #mainPopularBooksDiv {
    display: flex;
    justify-content: space-evenly;
  }

  #firstDisplay,
  #secondDisplay,
  #thirdDisplay {
    width: 300px;
    height: 50%;
  }

  .authorForNewReleases,
  .titleForNewReleases {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .newReleaseImg,
  .popularImg {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 250px;
  }

  .detailsButton,
  .buyButton {
    width: 145.75px;
  }

  .priceForNewReleases {
    text-align: center;
    font-style: italic;
    font-size: 22px;
  }
}
